<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364535468864-m0qp4nfbgb0qe9v0ejic0irsmejmsndu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364535468864-m0qp4nfbgb0qe9v0ejic0irsmejmsndu</string>
	<key>API_KEY</key>
	<string>AIzaSyBv3zWs2qb99-ckn2IJ9b4Z1So825vNyxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>364535468864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burgher.burgher</string>
	<key>PROJECT_ID</key>
	<string>burgher-f45b8</string>
	<key>STORAGE_BUCKET</key>
	<string>burgher-f45b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364535468864:ios:edca7a977c4e4af6a360a5</string>
</dict>
</plist>